app = 'full-stack-api'
primary_region = 'fra'


[build]
  dockerfile = "../docker/DockerfileFastapi"

[deploy]
  release_command = "bash -lc 'set -euo pipefail; PYTHONUNBUFFERED=1 PIP_DISABLE_PIP_VERSION_CHECK=1 python -m pip install --no-cache-dir -r requirements-test.txt; pytest -q --maxfail=1 --disable-warnings --color=yes ${TEST_PATH:-tests}'"

# build without test
#[deploy]
#  release_command = 'echo Skip release'

[env]
  PORT = '80'



[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  max_machines_running = 1
  processes = ["app"]

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
